
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html , body{
    background-color: #ddd;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    color: #fff;
    background-color: #4d41c0;
}

a ,a :hover {
    color: unset;
    text-decoration: none;
}